:root{
    --text: #f2ece9;
    --background: #110c08;
    --primary:#ddb49a;
    --secondary:#84471f;
    --accent: #e38142;
    --gradient: linear-gradient(90deg, rgba(221,180,154,1) 0%, rgba(132,71,31,1) 100%);
}

body{
        font-family:'Courier New', Courier, monospace;
        padding: 0;
        margin: 0;
        background-color: var(--background);
        color: var(--text);
}

.highlight{
    color: var(--accent);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.wrap,.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.board{
    display: flex;
    flex-wrap: wrap;
    border: solid 3px var(--accent);
    width: 600px;
    height: 600px;
}

.options{
    gap: 12px;
    border: solid 3px var(--secondary);
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 12px;
    width: 720px;
}

.options-buttons{
    color: var(--text);
    border: solid 3px transparent;
    border-radius: 12px;
    padding:  8px 16px 8px 16px;
    background-color: var(--background);
    font-weight: 600;
}

.options-buttons:hover{
    cursor: pointer;
    border: solid 3px var(--accent);
    color: var(--accent);
}

.slider{
    width: 100%;
    margin: 0;
    padding: 0;
}

h3{
    color: var(--accent);
    font-size: 16px;
}
